.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
   /*background-color: #282c34;*/
   background-color: #24405d;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
 }

.header-menu{
    background-color: grey;
}

.nav-item:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

Link{
    text-decoration: none !important;
    /*color: #000000;*/
    /*font-family: 'Montserrat', sans-serif;*/
}


.brand{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    width: 80vw;
    font-family: "Georgia";
    font-weight: lighter;
    font-size: xx-large !important;
    text-align: center !important;
}

.logo{
    width: 8.5vw;
    height: 4.5vh;
    margin-right: 1%;
}

.logo-icon{
    width: 1vw;
    height: 2vh;
    margin-left: 1%;
    /*padding-bottom: 0.2%;*/

}

.nav-item{
    display: flex;
    justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
    position: absolute;
    bottom:0;
    text-align:center;
    width: 100vw;
    height: 3%;
    background-color: #CDCDCD;
    color: black;
    font-family: "Inter Semi Bold";
    font-size: large;
}

.menu-select{
    width: 8%;
}