#data-container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.form{
    position: absolute;
    bottom:5%;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 14%;
}

#card-causal{
    padding: 5px;
}

.form-input{
    width: 60%;
    text-align: center;
    background-color: #24405d;
    border-radius: 5px;
    padding-inline: 10px;
    padding-bottom: 5px;
    color: black;
}

#inputs{
    margin: 2px;
    height: 1vh;
}
#texts{
    margin: 2px;
}

.botao-enviar{
    position: absolute;
    bottom: 4%;
    width: 56% !important;
    margin-left: 2%;
    height: 4vh;
    text-align: center !important;
    background-color: #DBB900 !important;
    font-weight: bold !important;
    color: black !important;
}

.lastCauais {
    position: fixed;
    bottom: 20%;
    left: 20%; /* Alinhado à esquerda */
    right: 20%;
    display: flex; /* Organiza os botões em linha */
    flex-wrap: wrap; /* Quebra a linha quando necessário */
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.LastCausais { /* Estilos para os botões */
    margin: 5px; /* Margem entre os botões */
    padding: 5px; /* Padding interno dos botões */
    border: 1px solid #ccc; /* Borda dos botões */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Indicador de clique */
}


.show{
    display: block !important;
}

.fieldset-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

.fieldset-border .legend-border {
    font-size: 1.2em !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

