#data-container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.form{
    position: absolute;
    bottom:5%;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

#card-causal{
    padding: 5px;
}

.form-input{
    width: 70%;
    text-align: center;
    background-color: #24405d;
    border-radius: 5px;
    padding-inline: 10px;
    padding-bottom: 5px;
    color: white;
}

#inputs{
    margin: 2px;
    height: 0%;
}
#texts{
    margin: 2px;
}